body {
    background-color: #f4f4f4;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    cursor: pointer;
}

/* Add background image to each square */
#box1 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box2 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box3 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box4 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box5 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box6 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box7 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box8 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box9 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box10 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box11 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box12 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box13 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}

#box14 {
    background-image: url('https://content.sportslogos.net/logos/6/227/full/7024_toronto_raptors-primary-2021.png');
    background-size: cover;
}
