body, html {
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background-color: #f4f4f4; /* Background color */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#container {
    width: calc(100px * 4 + 10px * 3); /* width of all boxes plus gaps */
    display: flex; /* Flexbox for further centering if needed */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center horizontally in the flex container */
    align-items: center; /* Center vertically in the flex container */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* Four columns each 100px */
    gap: 10px; /* Space between the boxes */
}

.box {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 2s ease, background-color 2s ease, background-image 2s ease; /* Include background-image if you want the change to be smooth */
    background-size: cover; /* Ensure this is here to keep images well formatted */
}

.box:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}
